{% extends 'administrador/plantilla.html' %}
{% load static %}

{% block contenido %}
<br><br><br>

<div class="container mt-5">
  <h1 class="text-center text-primary">Panel del Administrador</h1>
  <hr>
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">👤 Gestionar usuarios (Clientes, Artistas)</li>
        <li class="list-group-item">📅 Supervisar eventos registrados</li>
        <li class="list-group-item">📄 Ver contratos entre clientes y artistas</li>
        <li class="list-group-item">💬 Ver mensajes enviados entre usuarios</li>
        <li class="list-group-item">⭐ Revisar reseñas de artistas</li>
        <li class="list-group-item">💰 Validar pagos y comprobantes</li>
      </ul>
    </div>
  </div>
</div>

<br><br><br>
{% endblock %}
